
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
spring-mvc-crud.iml
target/spring-mvc-crud/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
target/spring-mvc-crud/WEB-INF/lib/spring-webmvc-5.2.9.RELEASE.jar
target/spring-mvc-crud/WEB-INF/lib/spring-tx-5.2.9.RELEASE.jar
target/spring-mvc-crud/WEB-INF/lib/spring-jcl-5.2.9.RELEASE.jar
*.jar
target/spring-mvc-crud/META-INF/MANIFEST.MF
target/classes/ua/fedii/spring/config/MySpringMvcDispatcherServletInitializer.class
target/classes/ua/fedii/spring/config/SpringConfig.class
target/classes/ua/fedii/spring/controllers/MovieController.class
target/classes/ua/fedii/spring/dao/MovieDAO.class
target/classes/ua/fedii/spring/models/Movie.class
target/spring-mvc-crud/WEB-INF/classes/ua/fedii/spring/config/MySpringMvcDispatcherServletInitializer.class
target/spring-mvc-crud/WEB-INF/classes/ua/fedii/spring/config/SpringConfig.class
target/spring-mvc-crud/WEB-INF/classes/ua/fedii/spring/controllers/MovieController.class
target/spring-mvc-crud/WEB-INF/classes/ua/fedii/spring/dao/MovieDAO.class
target/spring-mvc-crud/WEB-INF/classes/ua/fedii/spring/models/Movie.class
target/spring-mvc-crud/WEB-INF/views/movies/edit.html
target/spring-mvc-crud/WEB-INF/views/movies/index.html
target/spring-mvc-crud/WEB-INF/views/movies/new.html
target/spring-mvc-crud/WEB-INF/views/movies/show.html
.idea/dataSources/ff9fc40b-717d-4121-9f53-be1d78b2c25b.xml
.idea/dataSources/ff9fc40b-717d-4121-9f53-be1d78b2c25b/storage_v2/_src_/database/movies.Q6dTwA.meta
.idea/dataSources/ff9fc40b-717d-4121-9f53-be1d78b2c25b/storage_v2/_src_/database/movies.Q6dTwA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/ff9fc40b-717d-4121-9f53-be1d78b2c25b/storage_v2/_src_/database/movies.Q6dTwA/schema/public.abK9xQ.meta
.idea/dataSources/ff9fc40b-717d-4121-9f53-be1d78b2c25b/storage_v2/_src_/database/movies.Q6dTwA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources.xml
target/classes/db.properties
target/spring-mvc-crud/WEB-INF/classes/db.properties
src/main/resources/db.properties
src/main/resources/db.properties
target/spring-mvc-crud.war
.idea/encodings.xml
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
